{% extends "layout.html" %}
{% block title %}Welcome to CSH Food Portal!{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Welcome to CSH Food Portal!</h2>
                <p class="lead">Food Portal is how you get your faces stuffed with wings and chinese food and stuff.
                    <br> Food Portal Accounts are separate from CSH Accounts. Create one if you haven't used it before.
                </p>
            </div>
            <p class="lead center-inline">Already a user? <a class="btn btn-link" href="/login/">Log in here &rarr;</a></p>
        </div>
        <div class="col-md-6">
            <h3 class="center-inline">Register for an account</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form class="form-horizontal" method="post">{% csrf_token %}
                {% include "form-fields.html" with form=form %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary pull-right" >Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}