{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="well">
    <h2>Welcome <a href="/users/{{user.name}}">{{ user.get_full_name }}</a>!</h2>
    
</div>
{%include "messages.html" with messages=messages %}
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">My Order</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% include "orders/listing.html" with order=order menu=menu user=user %}
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">My Closed Orders ({{closedOrders | length}})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                {% for order in closedOrders %}
                    {% include "orders/listing.html" with order=order%}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if numMenus > 0 %}
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">My Menus</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for menu in myMenus %}
                        {% include "menus/listing.html" with menu=menu %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}