#main {
    margin-top: 70px;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #BF3E11;
}

.center-inline {
    text-align: center;
}

.vertical-middle{
    vertical-algin: middle;
}

.right-align
{
    text-align: right;
}

.well {
    box-shadow: none;
    border: none;
}

.navbar-brand:hover, .navbar-brand.active {
    background-color: #df0051;
}

.menu-action {
    display: inline-block;
}

.menu-listing .list-group-item-text {
    line-height: 1.6em;
}

.menu-listing .list-group-item-heading {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-listing .list-group-item-user{
    line-height: 1.6em;
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #BF3E11;
}

/***************************
****************************
Able to blend in with header
Not used anymore
Will clean up when finished
JZ
****************************
***************************/
.submit-report {
    line-height: 1.6em;
    border: none;
    box-shadow: none;
    background-color: #F5F5F5;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #8b2c93;
}

/***************************
****************************
Able to blend in with header
Not used anymore
Will clean up when finished
Able to underline button
JZ
****************************
***************************/
.submit-report:hover {
    text-decoration: underline;
}

@media(min-width: 768px) {
    .menu-actions {
        background-color: #EEE;
        margin: -10px -10px -10px -10px;
    }

    .menu-listings-compressed .menu-listing .menu-actions {
        padding: 23px 5px 23px 15px;
    }
}

@media(max-width: 767px) {
    .menu-actions {
        background-color:#EEE;
        margin: 5px 0 -10px 0;
        padding: 10px;
    }
}

.menu-listings-compressed .menu-listing .list-group-item-text {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.item-listing
{
    padding-top:2px;
    padding-bottom:12px;
}

.edit-item
{
    padding-left:24.117px;
    padding-right:24.117px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.item-name
{
    height:100%
}

.list-group
{
    margin-bottom:0px;
}

.item-list-group-item
{
  height:150px;
  padding: 10px 10px;
  background-color:#EEE;
}

.option-holder
{
    height:130px;
    padding-top:10px;
    padding-bottom:10px;
}
.btn-edit
{
    padding: 0px 2px;
    font-size:24px;
}

.no-margin-top
{
    margin-top:0px;
}

.no-margin-tb
{
    margin-top:0px;
    margin-bottom:0px;
}

.no-padding-sides
{
    padding-right:0px;
    padding-left:0px;
}

.no-padding-tb
{
    padding-top:0px;
    padding-bottom:0px;
}

.even-padding
{
    padding: 10px 10px;
}

.panel
{
    margin-bottom:0px;
}

.section-header
{
    height:40px
}

.section-text
{
    padding-top:7px;
    padding-bottom:7px;
}