{% for field in form %}
    {% if field.errors %}
        <div class="form-group has-error row {{ classes }}">
            <label class="control-label col-sm-4">{{ field.label }}</label>
            <div class="controls col-sm-8">{{ field }}
                <span class="help-inline text-danger">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
    {% else %}
        {% if field.label != 'hidden' %}
            <div class="form-group row {{ classes }}">
                <label class="control-label col-sm-4">{{ field.label }}</label>
                <div class="controls col-sm-8">{{ field }}
                    {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endif %}
{% endfor %}