<li class="list-group-item order-list-group-item order-listing clearfix order-actions">
    <h4 class="list-group-item-heading"><a href="/orders/{{order.id}}/">{{order.customer.__unicode__}}'s order from {{ menu.restaurant }}</a></h4>
    <p class="list-group-item-text">
        <strong>Date Created: {{ order.dateCreated }}</strong>
        <br><strong>Number of Items: {{ order.items.all | length }}</strong>
        <br><strong>Sub Total: {{ order.total }}</strong>
    </p>
    {% if order.customer.id == currUser.id %}
        {% if order.status == 'Placed' %}
            <form class="order-action confirm-on-submit" action="/admin/orders/{{ order.id }}/disable/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Cancel Order</button>
            </form>
        {% elif order.status == 'Closed' %}
            <form class="order-action confirm-on-submit" action="/orders/{{ order.id }}/enable/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Re-Create</button>
            </form>
            {% elif order.status == %}
    {% endif %}
</li>