<li class="list-group-item item-list-group-item menu-listing clearfix item-listing">
    {% if item.menu.curator.id == currUser.id or currUser.is_superuser %}
        <div class="col-md-2 no-padding-sides option-holder">
            <div class="col-md-6 edit-item">
                <form class="menu-action" action="/items/editItem/{{ item.id }}/" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
            <div class="col-md-6 no-padding-sides item-name">
             <h4 class="center-inline">{{item.name}}</h4>
            {% if item.description != "" %}
                <h5 class="center-inline no-margin-top">{{item.description}}</h5>
            {% endif %}
            <h5 class="center-inline no-margin-top">${{item.cost}}</h5>
            </div>
        </div>
    {% else %}
    <div class="col-md-2 no-padding-sides option-holder">
        <h4 class="center-inline">{{item.name}}</h4>
        {% if item.description != "" %}
            <h5 class="center-inline">{{item.description}}</h5>
        {% endif %}
        <h5 class="center-inline">${{item.cost}}</h5>
    </div>
    {% endif %}
    <div class="col-md-10 no-padding-sides option-holder">
        {% for option in options %}
            {% if option in item.option.all %}
                <div class="col-md-2" >
                    <h4 class="center-inline">{{option.name}}</h4>
                    <form class="tool-action" action="/orders/addTo/{{ item.menu.id }}/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="itemId" value="{{ item.id }}">
                        <input type="hidden" name="optionId" value="{{ option.id }}">
                        <button type="submit" class="btn btn-primary">Order</button>
                    </form>

                </div>
            {% endif %}
        {% endfor %}
    </div>
</li>