{% extends "layout.html" %}
{% block title %}{{ thing }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if thing == "Edit Options" %}
            <div class="col-md-12">
            {% else %}
            <div class="col-md-8 col-md-offset-2">
            {% endif %}
                <div class="well clearfix">
                    <h3 class="center-inline">{{ thing }}</h3>
                    {%include "messages.html" with messages=messages %}
                    {% if thing == "Add Menu" %}
                        <h5 class="center-inline"> You will be the curator for this menu. </h5>
                    {% endif %}
                    {% if thing == "Edit Options" %}
                        <h5 class="center-inline">Unfortunately, editing only one option at a time is supported.</h5>
                        {% for form in optionForms %}
                            <form class="form-horizontal" method="POST" action=""> {% csrf_token %}
                                {% include "form-fields.html" with form=form classes="col-md-5" %}
                                <div class="form-group col-md-2">
                                    <button type="submit" class="btn btn-primary pull-left">Save</button>
                                </div>
                            </form>
                        {% endfor %}
                            <form class="form-horizontal" method="POST" action="/menus/{{ id }}/">
                                {% csrf_token %}
                                <div class="form-group col-md-12 center-inline">
                                    <button type="submit" class="btn btn-primary pull-left">Back</button>
                                </div>
                            </form>

                    {% else %}
                        <form class="form-horizontal" method="POST" action=""> {% csrf_token %}
                            {% include "form-fields.html" with form=form classes="row" %}
                            <div class="form-group row col-md-6">
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}