<li class="list-group-item menu-list-group-item menu-listing clearfix menu-actions">
    <div class="row center-inline">
        <a href="/menus/{{menu.id}}"><img class="icon" src={{menu.image}}></a>
    </div>
    <div class="row center-inline clearfix" >
        <h4 class="list-group-item-heading"><a href="/menus/{{menu.id}}">{{menu.restaurant}}</a></h4>
        <p class="list-group-item-text">
            <strong>Curator: <a href="/users/{{ menu.curator.username }}/" title="Visit {{ menu.curator.get_full_name }}'s profile page"><b>{{menu.curator.get_full_name}}</b></a></strong>
        </p>
        {% if currUser.is_superuser or menu.curator.id == currUser.id %}
            {% if menu.is_active %}
                <form class="menu-action confirm-on-submit" action="/admin/menus/{{ menu.id }}/disable/" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Disable Menu</button>
                </form>
            {% elif not menu.is_active %}
                <form class="menu-action confirm-on-submit" action="/admin/menus/{{ menu.id }}/enable/" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success"> Enable Menu</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</li>